{% extends 'layout.html' %}

{% block title %}
    INFORMACJE
{% endblock %}

{% block content %}
    <div class="info-box">
        <div class="info-container">
            <div class="info-content">
                <h2 style="text-align: center;">REGULAMIN</h2>
                <ol>
                    <li>Portal POLIBOX służy do pomocy studentom Politechniki Gdańskiej.</li>
                    <li>Autorzy nie ponoszą odpowiedzialności za błędne informacje zawarte na stronie.</li>
                    <li>Autorzy nie ponoszą odpowiedzialności za szkody wynikłe z korzystania z portalu.</li>
                    <li>Autorzy nie ponoszą odpowiedzialności za treści zewnętrznych stron, do których prowadzą linki.</li>
                    <li>Autorzy zastrzegają sobie prawo do zmiany regulaminu w dowolnym momencie.</li>
                    <li>Autorzy zastrzegają sobie prawo do usunięcia kont użytkowników łamiących regulamin.</li>
                    <li>Autorzy zastrzegają sobie prawo do usunięcia treści łamiących prawo polskie.</li>
                    <li>Autorzy zastrzegają sobie prawo do usunięcia treści obraźliwych, wulgarnych, rasistowskich, homofobicznych,
                        seksistowskich, naruszających prawa autorskie, naruszających prywatność innych osób, naruszających zasady
                        netykiety, naruszających zasady współżycia społecznego, naruszających zasady współżycia akademickiego.</li>
                    <li>Autorzy zastrzegają sobie prawo do usunięcia treści niezwiązanych z tematyką portalu.</li>
                    <li>Wszelkie błędy, uwagi, propozycje, pytania prosimy kierować na adres <a href="mailto:msadkowski000@gmail.com">msadkowski000@gmail.com</a></li>
                </ol>
                <h2 style="text-align: center;">AUTOR</h2>
                <ul>
                    <li>Michał Sadkowski (<a href="https://github.com/m-sadkowski">github.com/m-sadkowski</a>)</li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}