{% extends 'layout.html' %}

{% block title %}
    POLIBOX
{% endblock %}

{% block content %}
     <div class="info-box">
        <div class="info-container">
            <div class="info-content">
                <h2 style="text-align: center;">POLIBOX</h2>
                <ul>
                    <li>Znajdziesz tutaj wszelką pomoc przydatną w trakcie studiów na PG!</li>
                    <li>W zakładce <a href="{% url 'materials:list' %}">MATERIAŁY</a> odnajdziesz wszystkie pomoce naukowe.</li>
                    <li>W zakładce <a href="{% url 'generator:generator' %}">GENERATOR</a> możesz sprawdzić jak rozpocząć maila do danego prowadzącego i skopiować szablon.</li>
                    <li>W zakładce <a href="{% url 'mycalendar:calendar' %}">KALENDARZ</a> znajdziesz terminy ważnych wydarzeń takich jak kolokwia, egzaminy, uroczystości.</li>
                    <li>W zakładce <a href="{% url 'progression:direction_list' %}">PROGRES</a> znajdziesz informacje o swoim postępie w nauce.</li>
                    <li>W zakładce <a href="/about">INFORMACJE</a> dostępne są informacje kontaktowe do autorów oraz regulamin portalu.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}